{% extends "base.twig" %}

{% block body %}
	<h1>История сообщений</h1>
	<table>
		<tr>
			<th>Id</th>
			<th>Message</th>
		</tr>
		{% for message in messages %}
			<tr>
				<td>{{ message.getId() }}</td>
				<td>{{ message.getMessage() }}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
